In [1]:
import pandas as pd
df = pd.read_csv('sales_data.csv')
df

           Date     Product  Quantity    Price Customer_ID Region  Total_Sales
0    01-01-2024       Phone       7.0  37300.0     CUST001   East     261100.0
1    02-01-2024  Headphones       4.0  15406.0     CUST002  North      61624.0
2    03-01-2024       Phone       2.0  21746.0     CUST003   West      43492.0
3    04-01-2024  Headphones       1.0  30895.0     CUST004   East      30895.0
4    05-01-2024      Laptop       8.0  39835.0     CUST005  North     318680.0
..          ...         ...       ...      ...         ...    ...          ...
98   08-04-2024     Monitor       1.0  30717.0     CUST099  North      30717.0
99   09-04-2024  Headphones       5.0  23376.0     CUST100  South     116880.0
100         NaN         NaN       NaN      NaN         NaN    NaN          NaN
101         NaN         NaN       NaN      NaN         NaN    NaN          NaN
102         NaN         NaN       NaN      NaN         NaN    NaN          NaN

[103 rows x 7 columns]

In [2]:
df.shape

(103, 7)

In [7]:
df.columns

Index(['Date', 'Product', 'Quantity', 'Price', 'Customer_ID', 'Region',
       'Total_Sales'],
      dtype='object')

In [10]:
df.dtypes

Date            object
Product         object
Quantity       float64
Price          float64
Customer_ID     object
Region          object
Total_Sales    float64
dtype: object

In [11]:
df.isnull()

      Date  Product  Quantity  Price  Customer_ID  Region  Total_Sales
0    False    False     False  False        False   False        False
1    False    False     False  False        False   False        False
2    False    False     False  False        False   False        False
3    False    False     False  False        False   False        False
4    False    False     False  False        False   False        False
..     ...      ...       ...    ...          ...     ...          ...
98   False    False     False  False        False   False        False
99   False    False     False  False        False   False        False
100   True     True      True   True         True    True         True
101   True     True      True   True         True    True         True
102   True     True      True   True         True    True         True

[103 rows x 7 columns]

In [17]:
df.clean = df.drop_duplicates()

In [18]:
df_clean.to_csv("cleaned_data.csv", index=False)

In [19]:
df

           Date     Product  Quantity    Price Customer_ID Region  Total_Sales
0    01-01-2024       Phone       7.0  37300.0     CUST001   East     261100.0
1    02-01-2024  Headphones       4.0  15406.0     CUST002  North      61624.0
2    03-01-2024       Phone       2.0  21746.0     CUST003   West      43492.0
3    04-01-2024  Headphones       1.0  30895.0     CUST004   East      30895.0
4    05-01-2024      Laptop       8.0  39835.0     CUST005  North     318680.0
..          ...         ...       ...      ...         ...    ...          ...
98   08-04-2024     Monitor       1.0  30717.0     CUST099  North      30717.0
99   09-04-2024  Headphones       5.0  23376.0     CUST100  South     116880.0
100         NaN         NaN       NaN      NaN         NaN    NaN          NaN
101         NaN         NaN       NaN      NaN         NaN    NaN          NaN
102         NaN         NaN       NaN      NaN         NaN    NaN          NaN

[103 rows x 7 columns]

In [11]:
import pandas as pd
df= pd.read_csv('sales_data.csv')
total_revenue = df["Total_Sales"].sum()
product_sales = df.groupby("Product")["Total_Sales"].sum()
# Find best product
best_product = product_sales.idxmax()
best_product_revenue = product_sales.max()
# Display result
print("Best Product:", best_product)
print("Revenue Generated:", round(best_product_revenue, 2))
print(f'Total Revenue: ₹{total_revenue:,.2f}')

Best Product: Laptop
Revenue Generated: 3889210.0
Total Revenue: ₹12,365,048.00

In [14]:
import pandas as pd
df= pd.read_csv('sales_data.csv')
total_revenue = df["Total_Sales"].sum()
product_sales = df.groupby("Product")["Total_Sales"].sum()
#top region
top_region = df.groupby("Region")["Total_Sales"].sum().idxmax()
top_region_revenue = df.groupby("Region")["Total_Sales"].sum().max()

unique_customers = df["Customer_ID"].nunique()

# Find best product
best_product = product_sales.idxmax()
best_product_revenue = product_sales.max()

# Display result
print(f'Total Revenue: ₹{total_revenue:,.2f} Strong overall sales performance observed')
print("Best Product:", best_product ,"Strong overall sales performance observed")
print("Revenue Generated:", round(best_product_revenue, 2),"High customer demand for this product")
print("Top Region", top_region, "This region generates the highest sales")
print("Top Region Revenue", round(top_region_revenue, 2),"Strong regional market presence")
print("Unique Customers", unique_customers, "Sales are spread across a diverse customer base")
print("Total Quantity Sold", int(total_quantity), "Indicates consistent purchasing activity")

Total Revenue: ₹12,365,048.00 Strong overall sales performance observed
Best Product: Laptop Strong overall sales performance observed
Revenue Generated: 3889210.0 High customer demand for this product
Top Region North This region generates the highest sales
Top Region Revenue 3983635.0 Strong regional market presence
Unique Customers 100 Sales are spread across a diverse customer base
Total Quantity Sold 478 Indicates consistent purchasing activity